@import '../scss/variables';

.nav-btn {
    margin: 5px;
}

.main-card {
    height: calc(100vh - 120px);
}

.h-100 {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    height: calc(100vh - 140px)
}


